@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
 body {
     background-color: #191919;
     font-family: "Lato", sans-serif;
     overflow: hidden;
 }

 .fuente {
     color: white;
     font-family: Lato;
 }
 .boton {
     background-color: #191919;;
     border-radius: 100px;
     border-color: white;
     padding: 0px 100px;
 }
 .fuente2 {
     color: #951388;
 }
 .formulario {
     background-color: white;
     border-radius: 100px;
     border: 2px solid #951388;
 }

 .me-1 {
    margin-right: 100px !important;
  }
  /* .pe-1{
      padding: 10px 50px !important;
  } */
 .activao {
    background-color: #951388;
    border-color: black;
}
.activao:hover {
    background-color: #951388;
    border-color: black;
}
.noactivao {
    background-color: white;
    border-color: black;
    color: black;
}
.noactivao:hover {
    background-color: white;
    border-color: black;
    color: black;
}
.image{
    background-image: url(../images/concierto.jpg);
    background-size: cover;
    margin:-40px 0 0 0;
    height:1000px;
}
@media(max-width: 1029px){
    .image{
        display:none;
    }
    .content_login{
        width:100%;
    }
}